[user]
	name = Li Yanzhe
	email = liyanzhe@senses-ai.com
[alias]
	last = log -1 HEAD
	tt = log --graph --oneline -10 HEAD
	ll = log --graph --oneline
	cam = commit -am
	cm = commit -m
	st = status
    sts = status -s
    ss = stash
    ssp = stash pop
    ssl = stash list
[merge]
	tool = vimdiff
[credential]
	helper = store
[core]
	whitespace = cr-at-eol
